@import url('https://fonts.googleapis.com/css?family=McLaren|Quicksand|Shadows+Into+Light&display=swap');

body {
    
    font-family:'Quicksand', sans-serif;
    margin:0; /* Remove all body margins*/
    font-size:120%;
    }
    header {
        display: flex;
        align-items: center;
        background-image:url(https://www.polynesianhalekuai.com/cdn/shop/files/FDAFA5B1-9CDF-48F7-A272-5EDDFFF16C88.jpg?v=1696206113&width=823);
        background-size: cover;
        color: black;
        padding:20px;
        display:flex;
        justify-content: space between;
        align items: center;
        font size: xx-large;
    }

    .logo {
      
    }
    header h1{
        font-family: "Shadows Into Light", cursive;
        font-size:400%;
        font-weight:lighter;
        color:black;
    }
    nav {
        background-color: indianred;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        display:flex;/* Display the children of this element as flexible boxes*/
        align-items:center;/* allign child flexible boxes in the vertical center*/

    }
    nav a  {
        color: white;
        text-decoration: none;
        font-weight:bold;
    }
    nav p {
        text-align:center;
        flex-basis:100px; /* Give each paragraph the same basic width*/
        flex-grow:1; /* allow each paragraph to grow evenly to fill up parent nav element*/
    }

    
    nav a:hover{
       color: black;
    }
    footer{
        background-color:indianred; /* background or background color both work*/
        position:fixed;/* fix to the viewport */
        bottom:0; /* Start 0 pixels from bottom of viewport*/
        left: 0;/* Start 0 pixels from left of viewport*/
        width:100%;/*Set the width to 100% of the viewport*/
        border-top: solid black 1px; /* Have to put height to 3 timers larger then it's current font size the unit, ex,px or %, if not zero*/
        height: 3em; /* Set the footer element*/
    }


    h1, h2 {
   font-family:'Mclaren',cursive;
   color:#f75c03;
           }
           .main{
                margin-left: 1em;
                margin-right:1em;
                margin-bottom: 4em;/* Larger margin to allow for footer*/
           }
           .center {
               text-align: center;
           }
           .wrap {
               float: right;
           }
           .caption {
            font-style: italic;
            font-size:small;
           }
       